@import '../../../styles';

aside {
  display: flex;
  padding: 10px;
  width: 200px;
  @extend .border-default;
  @extend .typo-h2-subheader;

  @media (max-width: 768px) {
    margin-bottom: 20px; // Add some spacing between aside and main content
    padding: 15px;
    width: 100%;
  }
}
