@import 'assets/styles/vars/colors.scss';
@import 'assets/styles/vars/borders.scss';
@import 'assets/styles/vars/shadows.scss';
@import 'assets/styles/vars/typo.scss';

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  margin: 0;
  min-height: 100vh;
  padding: 10px;
}
