$color-text-regular: #1a1a1a;
$color-text-light: #666666;
$color-text-prompt: #999999;
$color-grey-dark: #b3b3b3;
$color-grey-medium: #e6e6e6;
$color-grey-light: #F3F6F6;
$color-black: #000000;
$color-blue-regular: #0055a6;
$color-blue-light: #3498db;
$color-white: #ffffff;
