@import '../../../styles';

.accordion {
  border: 1px solid $color-grey-medium;
  border-radius: 3px;
  margin-bottom: 16px;
}

.accordion-header {
  align-items: center;
  background-color: $color-grey-light;
  color: $color-blue-regular;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-transform: capitalize;
  user-select: none;
}

.accordion-icon {
  font-size: 24px;
}

.accordion-icon.expanded {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-content {
  height: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &--open {
    height: auto;
    max-height: 100%;
    opacity: 1;
    padding: 10px;
  }
}
