@import '../../../styles';

.accordion {
  border: 1px solid $color-grey-medium;
  border-radius: 3px;
  margin-bottom: 16px;
}

.accordion-header {
  align-items: center;
  background-color: $color-grey-light;
  color: $color-blue-regular;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.accordion-icon {
  font-size: 24px;
}

.accordion-icon.expanded {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordion-content {
  padding: 10px;
}
